@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-fonts{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* shared style */
.dark-1{
    color: rgb(19, 19, 19);
}
.dark-2{
    color: rgb(66, 66, 66);
}
.dark-3{
    color: rgb(114, 114, 114);
    font-weight: 400px;
    font-size: 1rem;

}
.color{
    color: rgb(255, 144, 14);
}
main > section{
    margin-top: 130px;
}

.display-flex{
    display: flex;
}
.btn-primary{
    border-radius: 8px;
    color: white;
    padding: 20px 25px;
    background: rgb(255, 144, 14);
    font-style: 600px;
    font-size: 1.2rem;
    border: none;
    
}

.main{
    max-width: 1440px;
    margin: 0 auto;
}

/* header style */
.bg-color{
    background-color:rgba(255, 144, 14, 0.1);
}



/* nav style */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500px;
}
.navbar, .banner{
    max-width: 1400px;
    margin: 0 auto;
}
.brand{
    font-weight: 700px;
    font-size: 3rem; 
}
/* banner style */
.banner-contain{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700px;
    font-size: 4rem;
}

.banner-img{
    width: 100%;
}
/* team style */
.teams{
    align-items: center;
    
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}

.features-title{
    font-weight: 700px;
    font-size: 3rem;
}
#title-part-1{
    color: rgb(114, 114, 114);
    font-weight: 400px;
    

}

/* facts style */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 120px; */
    /* margin: 0 auto; */
    
}
.card{
    box-sizing: border-box;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    text-align: center;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
    /* margin-left: 50px; */
    
}
.card-number{
    font-size: 2.8rem;
    font-weight: 600px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.card-name{
    font-size: 1.25rem;
    font-weight: 600px;
    margin-top: 5px;
    color: rgb(114, 114, 114);
}

.facts-description{
    width: 542px;
    margin-bottom: 100px;
}
.facts-title{
    color: rgb(19, 19, 19);
    font-weight: 700px;
    font-size: 3rem;
}

/* responsive media */

@media screen and (max-width:576px) {
    .navbar,.nav-links, .teams{
        flex-direction: column;
    }
    .team-img-container, .facts-container{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        margin: 80px;
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .facts-description{
        width: auto;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 20px auto;
    }
}
